* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

main {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid red;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}



h1 {
  padding: 1rem 0;
  text-align: left;
}


thead {
  background-image: linear-gradient(to bottom,#b3e9ff, #66ccff );
}

tr[class="read"] {
  background-image: linear-gradient(to bottom, #a8ffb0, #90ee90);
}

tr[class="in-progress"] {
  background-image: linear-gradient(to bottom,  #ffe9c7, #ffd27f);
}

tr[class="to-read"] {
  background-image: linear-gradient(to bottom, #f5f9f5, #dce7dc);
}

tr[class="read"] span[class="status"] {
  border: 2px solid green;
  border-radius: 40px;
  padding: 0.1rem;
  width: 120px;
  margin: 10px auto;
  background-image: linear-gradient(to bottom, #66ff66, #33cc33);
  height: 30px;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid red;
  border-radius: 40px;
  width: 120px;
  height: 30px;
  margin: 10px auto;
  background-image: linear-gradient(to bottom, #ff6666, #cc0000);
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid #e69500;
  border-radius: 40px;
  width: 120px;
  height: 30px;
  margin: 0 auto;
  background-image: 
    linear-gradient(to bottom, #ffcc66, #e69500);
  
}





span[class="status"] {
  display: flex;
  justify-content: center;
  align-items: center;
}


span {
  display: inline-block;
}

span[class="status"],
span[class^="rate"]
 {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
  height: 40px;
  width: 120px;
  padding: 1rem;
}

span[class^="rate"] > span {
  border: 2px solid #808080;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 1px;
  background-color: #f2f2f2;
}

span[class~="one"] > span:nth-child(1) {
  background-image: linear-gradient(to bottom, green, red)
}

span[class~="two"] > span:nth-child(-n + 2) {
  background-image: linear-gradient(to bottom, green, red)
}

span[class~="three"] span {
  background-image: linear-gradient(to bottom, green, red);
}
th {
  padding: 0.5rem;
}


